
<span>
	Намайг <strong>@ViewData["name"]</strong> гэдэг.

</span>

<a style="text-decoration-line:none; color:black" href="/boldo"><b>detail</b></a>
<span>


	





	Би  <strong>@ViewBag.age</strong> настай.

	<input type="text" name="school" placeholder="syrguuli oruulna" />
</span>

<ul>
	<
</ul>
