@model lect2.Models.Worker

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidNavigation.Bname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Wid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
